<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix India – Watch TV Shows Online, Watch Movies Online</title>
    <link rel="icon" href="../static/img/netflixicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>

<body>
    <!-- banner1 -->
    <div class="banner1">
        <!-- blackshade -->
        <div class="blackshade">
            <!-- Netflix signup bar container -->
            <div class="topbar">
                <!-- netflix img container -->
                <div class="topbarpart1">
                    <!-- netflix image -->
                    <div class="imgcontainer">
                        <img src="../static/img/netflix.png" alt="" class="Netflixpng">
                    </div>
                </div>
                <!-- netflix button section -->
                <div class="topbarpart2">
                    <div class="buttonpartside1"></div>
                    <div class="buttonpartside2">
                        <!-- dropdown text scetion -->
                        <div class="selectboxbutton_container">
                            <div class="selectbox">
                                <p class="englishtext">
                                    <img class="languagepng" src="../static/img/language.png" alt=""> English
                                    <img class="arrow" src="../static/img/arrow.png" alt="">
                                </p>
                            </div>
                        </div>
                        <!-- signup section -->
                        <div class="signupbutton_container">
                            <button class="signIn"><span id="signtext">Sign In</span></button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- textsection -->
            <div class="text_container">
                <div class="blag_container"></div>
                <div class="textpart_main_container">
                    <div class="vertical_container_text_part1"></div>
                    <div class="textpart_palce">
                        <h2 class="text">Unlimited movies, TV <br>
                            &nbsp;&nbsp; shows and more.</h2>
                        <p class="subtitle">Watch anywhere. Cancel anytime.</p>
                        <p class="subsubtitle">Ready to watch? Enter your email to create or restart your membership.
                        </p>
                        <div class="inputtext">
                            <div class="input"><input type="text" class="input_text" placeholder="Email Address"></div>
                            <div class="getstart"><button class="buttongetstart"><span class="start">Get started
                                        ></span> </button></div>
                        </div>
                    </div>
                    <div class="vertical_container_text_part2"></div>
                </div>
                <div class="blag_container"></div>
            </div>
        </div>
    </div>

    <div class="banner2">
        <div class="firstinnerdivTextpart">
            <div class="innerbannerheadingcontainer"></div>
            <div class="innerbannerfirstheadingcontainer">
                <div class="headingpart">
                    <h1 id="htext">Enjoy on your TV.</h1>
                </div>
                <div>
                    <h5 class="subtexts">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players
                        and <br> more.</h5>
                </div>
            </div>
            <div class="innerbannerheadingcontainer"></div>
        </div>
        <div class="secndinnerdivTextpart">
            <div class="tv">
                <video class="vedio" loop autoplay="autoplay">
                    <source src="../static/vedio/tv.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="banner3">
        <div class="firstinnerdivTextpart1">
            <div class="mobcontainer">
                <div class="mobail"> </div>
            </div>
            <div class="dcontainer">
                <video src="../static/vedio/download.mp4" class="download" loop autoplay="autoplay"></video>
            </div>
        </div>
    </div>
    <div class="secinnerdivTextpart2">
        <div class=""></div>
        <div class=""></div>
    </div>
    </div>

</body>

</html>