<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Coffee Company</title>
    <link rel="icon" href="../static/img/starbucks.png">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body>
    <header class="header">
        <div class="headerpart1">
            <img class="logo" src="../static/img/starbucks.png" alt="">
        </div>
        <div class="headerpart2">
            <ul class="nav">
                <li class="option1"><a class="textoptions" href="https://www.starbucks.com/menu">MENU</a></li>
                <li class="option1"><a class="textoptions" href="https://www.starbucks.com/rewards">REWARDS</a></li>
                <li class="option1"><a class="textoptions" href="https://www.starbucks.com/gift">GIFT CARDS</a></li>
            </ul>
        </div>
        <div class="headerpart3">
            <li style="padding-left:5px; display: inline-block; margin-top: -20px;"><img class="map" src="../static/img/map.png"></li>
            <ul class="nav" style="margin:-28px 0 0 36px; " >
                  <li>  <a class="location" href="https://www.starbucks.com/store-locator"  style="font-size: 16px;">Find a store</a></li>
                <li class="option2"><a class="signinbutton" href="https://www.starbucks.com/account/signin?ReturnUrl=%2F"
                    style="border: 2px solid black; padding: 5px 15px; border-radius: 20px; font-size: 14px;">
                    Sign in </a></li>
                <li class="option2">
                    <a class="joinbutton" href="https://www.starbucks.com/account/create"
                    style="border: 2px solid black; padding: 5px 15px; border-radius: 20px; font-size: 14px;
                    color: aliceblue; background-color: black;">
                        Join now</a></li>
                
            </ul>
        </div>
    </header>

    <section class="main">
        <div class="firstpart">
            <div class="firstpart1">
                <img class="img1" src="../static/img/rewards.jpg" alt="">
            </div>
            <div class="firstpart2">
                <h1 class="textfirst1">Summer is brighter with free treats.*</h1>
                <a href="https://www.starbucks.com/account/create"><button class="firstpart2text2">Join Starbucks® Rewards</button></a>
            </div>
        </div>
        <div class="secondpart">
            <div class="secondpart1">
                <h1 class="textsecond1">&nbsp;&nbsp;&nbsp;&nbsp;Summer’s<br>brightest new<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;drinks</h1>
                <p class="textsecond2">&nbsp;Introducing the Pineapple Passionfruit<br>Starbucks Refreshers® beverage and the<br>&nbsp;Starbucks® Paradise Drink with creamy<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coconutmilk.
                </p>
                <a href="https://www.starbucks.com/menu/featured/"></a><button class="secondpart1button">Learn more</button>
            </div>
            <div class="secondpart2">
                <img class="juice" src="../static/img/juice.jpg" alt="">
            </div>
        </div>
        <div class="thirdpart">
            <div class="thirdpart1">
                <img class="lolypop" src="../static/img/lolypop.jpg" alt="">
            </div>
            <div class="thirdpart2">
                <h1 class="textthird1">Hooray for cookies<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and cake</h1>
                <p class="textthird2">The new Cookies & Cream Cake Pop is a<br>happy mix of chocolate cake, crumbled<br>&nbsp;&nbsp;&nbsp;&nbsp;cookies and white chocolaty icing.
                </p>
                <a href="https://www.starbucks.com/menu/product/2123657/single"></a><button class="thirdpart2button">Order now</button>
            </div>
        </div>
        <div class="fourthpart">
            <div class="fourthpart1">
                <h1 class="textfourth1">Lean into that summer feeling</h1>
                <p class="textfourth2">Order Starbucks® drinks on Uber Eats today.**</p>
                <a href="https://www.ubereats.com/brand/starbucks?&amp;utm_campaign=bd-starbucks-US-aprmay22_Owned_.com_US&amp;utm_source=starbucks&amp;utm_medium=Web&amp;publisher=Uber Eats - BD (Biz Dev) - Partnerships&amp;publisher_sub_campaign_name=bd-starbucks-US-aprmay22_Owned_.com_US"><button class="fourthpart1button">Order now</button></a>
            </div>
            <div class="fourthpart2">
               <img class="ubereats" src="../static/img/ubereats.webp" alt="">
            </div>
        </div>
        <div class="fifthpart">
                <p class="textfifth1">*Starbucks Rewards is available at participating stores. Some restrictions apply. For full program<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;details, visit <a class="fifthlink" href="https://www.starbucks.com/rewards">starbucks.com/rewards</a></p>
        </div>
        <div class="sixthpart">
            <p class="textsixth1">**Check the Uber Eats app for availability and restrictions.</p>
        </div>
        <div class="seventhpart">
                <ul class="one">
                    <h3>About Us</h3>
                    <li><a href="https://www.starbucks.com/about-us/">Our Company</a></li>
                    <li><a href="https://www.starbucks.com/coffee/">Our Coffee</a></li>
                    <li><a href="https://stories.starbucks.com/">Stories and News</a></li>
                    <li><a href="https://archive.starbucks.com/">Starbucks Archive</a></li>
                    <li><a href="https://investor.starbucks.com/ir-home/default.aspx">Investor Relations</a></li>
                    <li><a href="https://customerservice.starbucks.com/">Customer Service</a></li>
                </ul>
                <ul class="two">
                    <h3>Careers</h3>
                    <li style="line-height: 50px";><a href="https://www.starbucks.com/careers/working-at-starbucks/culture-and-values/">Culture and Values</a></li>
                    <li style="line-height: 30px";><a href="https://stories.starbucks.com/stories/inclusion-diversity/">Inclusion, Diversity and<br>Equity</a></li>
                    <li style="line-height: 25px";><a href="https://www.starbucks.com/careers/working-at-starbucks/education/">College Achievement<br>Plan</a></li>
                    <li><a href="https://alumni.starbucks.com/login/">Alumni Community</a></li>
                    <li><a href="https://www.starbucks.com/careers/">U.S. Careers</a></li>
                    <li><a href="https://www.starbucks.com/careers/international-careers/">International Careers</a></li>
                </ul>
                <ul class="three">
                    <h3>Social Impact</h3>
                    <li><a href="https://www.starbucks.com/responsibility/people/">People</a></li>
                    <li style="line-height: 60px";><a href="https://www.starbucks.com/responsibility/planet/">Planet</a></li>
                    <li style="line-height: 25px";><a href="https://www.starbucks.com/responsibility/reporting-hub/">Enviromental and Social<br>Impact Reporting</a></li>
                </ul>
                <ul class="four">
                    <h3>For Business Partners</h3>
                    <li><a href="https://www.starbucks.com/business/landlord-faq/">Landlord Support Center</a></li>
                    <li><a href="https://www.starbucks.com/business/suppliers/">Suppliers</a></li>
                    <li><a href="https://www.starbuckscardb2b.com/">Corporate Gift Card Sales</a></li>
                    <li><a href="https://www.nestlecoffeepartnerssl.com/our-brands/we-proudly-serve-starbucks-coffee-program">Office and Foodservice<br>Coffee</a></li>
                </ul>
                <ul class="five">
                    <h3>Order and Pickup</h3>
                    <li><a href="https://www.starbucks.com/rewards/mobile-apps/">Order on the App</a></li>
                    <li><a href="https://www.starbucks.com/menu">Order on the Web</a></li>
                    <li><a href="https://delivery.starbucks.com/">Delivery</a></li>
                    <li style="line-height: 50px";><a href="https://www.starbucks.com/ways-to-order/">Order and Pickup Options</a></li>
                    <li style="line-height: 25px";><a href="https://athome.starbucks.com/?utm_source=starbucks.com&utm_medium=referral&utm_campaign=footer">Explore and Find Coffee<br>for Home</a></li>
                </ul>
            </div>
        </div>
        <div class="eighthpart">
            <a href="https://open.spotify.com/user/starbucks"><img class="spotify" src="../static/img/spotify1.png" alt=""></a>
            <a href="https://facebook.com/starbucks"><img class="facebook" src="../static/img/facebook1.png" alt=""></a>
            <a href="https://www.pinterest.com/starbucks/"><img class="pintrest" src="../static/img/pinterest1.png" alt=""></a>
            <a href="https://instagram.com/starbucks"><img class="instagram" src="../static/img/instagram-circle1.png" alt=""></a>
            <a href="https://www.youtube.com/starbucks"><img class="youtube" src="../static/img/youtube1.png" alt=""></a>
            <a href="https://twitter.com/starbucks/"><img class="twitter" src="../static/img/twitter-circled.png" alt=""></a>
        </div>
        <div class="ninethpart">
            <ul style="display:block;">
                <li>Privacy Policy  |</li>
                <li>Terms of Use  |</li>
                <li>CA Supply Chain Act  |</li>
                <li>Cookie Preferences</li>
            </ul>

            <h4 style="color: grey;">© 2022 Starbucks Coffee Company. All rights reserved.</h4>
        </div>
    </section>
</body>
</html>