body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(68, 62, 62);
}

.banner1 {
    max-width: 100%;
    min-height: 650px;
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.blackshade {
    background: #1717178a;
    position: absolute;
    height: 650px;
    width: 100%;
    z-index: 1;
}

.topbar {
    width: 100%;
    height: 100px;
}

.topbarpart1 {
    height: 100px;
    width: 50%;
}

.topbarpart2 {
    height: 100px;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.imgcontainer {
    height: 100px;
    width: 200px;
    margin-left: 51px;
    background-color: aqua;
}

.Netflixpng {
    width: 10.375rem;
    height: 2.625rem;
    margin-top: 30px;

}

.buttonpartside1 {
    width: 50%;
    height: 100px;
}

.buttonpartside2 {
    width: 50%;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.selectboxbutton_container {
    width: 50%;
    height: 100px;
}

.signupbutton_container {
    width: 50%;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.signIn {
    height: 35px;
    width: 81px;
    background-color: red;
    border-radius: 6px;
    border: 1px solid;
    margin-top: 30px;
    margin-left: 30px;
    line-height: normal;
}

#signtext {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.selectbox {
    height: 33px;
    width: 96px;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 70px;
}

.englishtext {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.languagepng {
    height: 15px;
    width: 15px;
}

.arrow {
    height: 10px;
    width: 10px;
}

.text_container {
    width: 100%;
    height: 530px;

}

.blag_container {
    width: 100%;
    height: 110px;

}

.textpart_main_container {
    height: 330px;
    width: 100%;
}

.vertical_container_text_part1 {
    height: 330px;
    width: 290px;
}

.vertical_container_text_part2 {
    height: 330px;
    width: 290px;
    position: absolute;
    right: 0px;
    top: 210px;
}

.textpart_palce {
    min-height: 330px;
    max-width: 684px;
    position: absolute;
    left: 290px;
    top: 210px;
}

.text {
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-bottom: 50px;
}

.subtitle {
    color: white;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 120px;
}

.subsubtitle {
    color: white;
    font-size: 1.2003rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;

}

.inputtext {
    height: 55px;
    width: 660px;
    background-color: aliceblue;
    border-radius: 6px;
}

.input {
    height: 55px;
    width: 70%;

}

.getstart {
    height: 55px;
    width: 30%;
    background-color: aqua;
    position: absolute;
    margin-left: 462px;
    top: 295px;

}

.input_text {
    height: 49px;
    width: 454px;
}

.buttongetstart {
    height: 55px;
    width: 200px;
    background-color: red;
    border: none;
}

.start {
    color: white;
    font-size: 25px;
}

::placeholder {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
}

/* banner2 */

.banner2 {
    height: 420px;
    width: 100%;
    background-color: black;
    margin-top: 6px;
}

/* tv part */
.secndinnerdivTextpart {
    width: 50%;
    height: 420px;
    position: absolute;
    right: 0px;
    top: 656px;
}

.tv {
    background-image: url(../img/tv.png);
    background-size: cover;
    width: 75%;
    height: 400px;
    margin-left: 40px;
}

.vedio {
    width: 410px;
    height: 220px;
    margin-top: 85px;
    margin-left: 58px;
}

/* textpart */

.firstinnerdivTextpart {
    width: 50%;
    height: 420px;
}

.innerbannerheadingcontainer {
    height: 110px;
    width: 100%;
}

.innerbannerfirstheadingcontainer {
    height: 194px;
    width: 100%;
}

.headingpart {
    height: 40%;
    width: 100%;
}

#htext {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 70px;
    margin-top: 7px;
}

.subtexts {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;    
    font-weight: normal;
    margin-left: 70px;
    margin-top: 4px;
    
}

/* banner3 */

.banner3 {
    height: 420px;
    width: 100%;
    background-color: black;
    margin-top: 6px;
}
.firstinnerdivTextpart1{
    width: 50%;
    height: 420px;
}
.secinnerdivTextpart2{
    width: 50%;
    height: 420px;
    position: absolute;
    right: 0px;
    top: 1082px;

}
.mobcontainer{
    height: 60%;
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
.mobail{
background-image: url(../img/banner3.jpg);
background-size: contain;
background-repeat: no-repeat;
height: 350px;
width: 470px;
margin-right: 60px;
}
.dcontainer{
    height: 80px;
    width: 292px;
    border: 1px solid gray;
   margin-left: 140px;
   border-radius: 12px;
    
}
.download{
    height: 81px;
    width: 300px;

}
